<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Email Verification</title>
    <style>
        body { color: black; }
    </style>
</head>
<body>

    <p>Hi {{ name }},</p>

    <p>You email has been changed</p>

    <p>To verify you new email, please click the link below.</p>

    <button><a href={{verifyEmailUrl}}>Verify Email</a></button>

    <p>Thank You.</p>
</body>
</html>