<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Credentials</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>

    <p>Hello {{ name }}</p>

    <p>Your password has been reset</p>
    <p> Please use the token below to reset your password </p>
    <p><strong>{{ tokenURL }}</strong></p>
    Thank You.
</body>
</html>