<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Credentials</title>
    <style>
        body {
            color: black;
        }
    </style>
</head>
<body>

    <p>Hi {{ name }},</p>

    <p>Welcome aboard!</p>

    <p>Your default password is <strong>{{ password }}</strong></p>

    <p>To login, please click the link below.</p>

    <button><a href={{loginUrl}}>Login</a></button>

    <p>Thank You.</p>
</body>
</html>